aniso8601==8.1.0
appdirs==1.4.3
argh==0.26.2
attrs==20.3.0
brotlipy==0.7.0
cachelib==0.1.1
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
click==7.1.2
filelock==3.0.12
Flask==1.1.2
flask-restx @ git+https://github.com/anjackson/flask-restx/@4e2b2341e77e82a6826768bb4fd4bfc6db49260f
gunicorn==20.0.4
idna==2.10
importlib-metadata==3.3.0
itsdangerous==1.1.0
Jinja2==2.11.2
jsonschema==3.2.0
kafka-python==1.4.4
MarkupSafe==1.1.1
mmh3==2.5.1
packaging==19.0
pathtools==0.1.2
Pillow==8.0.1
pycparser==2.19
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil==2.8.1
pytz==2020.4
PyYAML==5.3.1
redis==3.5.3
requests==2.25.1
requests-file==1.5.1
six==1.15.0
surt==0.3.1
tldextract==3.1.0
typing-extensions==3.7.4.3
urllib3==1.26.4
warcio==1.7.4
watchdog==1.0.1
webencodings==0.5.1
Werkzeug==1.0.1
zipp==3.4.0
